package ${package_name}.service;

import com.dragon.base.BaseServiceMock;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Example;

/**
* 降级实现${model}Service接口
* Created by Dragon.Wen on ${ctime}.
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

}
